<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AgeOfDarkness; Integrated Security=True; MultipleActiveResultSets=True; Application Name=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="WorldConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AgeOfDarknessWorld; Integrated Security=True; MultipleActiveResultSets=True; Application Name=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>